.App {
  text-align: center;
  /* background-image: url('https://images.squarespace-cdn.com/content/v1/5e851d0edecd980ff18aa3e5/a471cb78-d5e2-44b5-be7d-c5c1501737af/Go+Tiny+Blog+Logo?format=1500w'); */
  margin-top: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* margin: 20px; */
  background-color: #8f6208;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
